---
import { getCollection, getEntry } from 'astro:content';
import '../../styles/global.css';
import '../../styles/blog.css';
import { blogName } from '../../constants.ts';
import Footer from '../../components/footer/Footer.astro';
import BaseHead from '../../components/base-head/BaseHead.astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map(post => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
const { title, description, date, author } = post.data;

const authorEntry = await getEntry(author);
const handle = authorEntry.slug;
---

<html lang="en">
	<BaseHead title={`${title} | ${blogName}`} />
	<body>
		<div class="container">
			<main>
				<article class="article-header">
					<h1 class="main-title">{title}</h1>
					<div class="article-meta">
						<span class="article-date">{date}</span>
						<span class="meta-separator">/</span>
						<a href={`/author/${authorEntry.slug}`} class="article-author">@{handle}</a>
					</div>
					<div class="prose">
						<Content />
					</div>
				</article>
			</main>

			<Footer />
		</div>
	</body>
</html>
